@media only screen and (max-width: 768px){
    .classe12{
        margin-left: 6%;
    }
    .menu{
        text-align: center;
        background-color: rgba(0, 0, 0, 0.4);
        border-bottom: 1px solid rgb(255, 166, 0);
        z-index: 5;
    }
    .bordure_menu{
        z-index: 5;
    }
    .bloc_caroussel{
        z-index: 0;
        margin-top: 100px;
        margin-left: 20px;
    }

    .para7{
        font-size: 11px;
    }
    .classe7{
        display:block !important;
    }
}
@media only screen and (min-width: 768px) and (max-width:992px){
    .bloc_caroussel{
        
        margin-top: 100px;
        margin-left: 20px;
    }
}


/* debut barre de navigation */
.span1{
    font-size: 40px;
    color:white;
    font-weight: bold;
}
.span2{
    font-size: 40px;
    font-weight: bold;
    color:rgb(255, 166, 0);
}

.classe1{
    background-image:url(../images/1.jpg);
    background-size:cover; 
    background-repeat:no-repeat ;
}
.navbar-default{
    background-color: inherit !important;
    border-color: inherit;
    border-bottom: 1px solid gray;
    border-radius: 0px;
}

.navbar-default .navbar-nav li a:focus, .navbar-default .navbar-nav li a:hover{
    color:rgb(255, 166, 0) !important;
    border-bottom: 2px solid rgb(255, 166, 0);
}
.navbar-default .navbar-nav li a{
    color: white !important;
}

/* fin navigation */


/* debut defilement */
.defiler{
    height: 450px;
    margin-top: 150px;
}
.carousel-indicators .active{
    background:rgb(255, 166, 0) !important ;
    margin-top: -40px !important;
}

.carousel-indicators li{
    background:white !important ;
    margin-top: -40px !important;
}


.titre1{
    text-align: center;
    /*margin-top: 200px;*/
    color: white;
    font-weight: bold;
}
.titre2{ 
    text-align: center;
    /*margin-top: 20px;*/
    color: rgba(255, 255, 255, 0.788);
    
} 


/* fin defilement */
/* debut welcome */

.image1{
    background-color: rgb(223, 219, 219);
    border-radius: 2px;
    padding: 7px;
    margin-top: 40px;
}
.titre3 h1{
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
    color: rgb(255, 166, 0) ;
    
}
/* tablette */
 @media only screen and (min-width: 769) and (max-width: 991px) {  
.classe4{
    margin-top: -200px !important; 
 }
 .classe5{
     background-color: rgb(238, 236, 236) !important;
      height: 700px !important;
    margin-top: -100px !important;
    }
 .classe7{
    height:cover !important;
    }
}
 /* phone */
@media only screen and (max-width: 768px) { 
     .classe3{
         height: 200px !important;
     }
  
  }
  
.classe3{
    height: 600px;
}
/* fin welcome */
.classe4 { 
    text-align: center ;
    color:rgb(180, 180, 180);
    margin-top: -100px;
    font-weight: bold;
    /* padding: 10px; */
} 
/* debut about */
@media only screen and (min-width: 769px) and (max-width: 991px) {  
    
     .classe6{
         
        margin-top: 25px !important;
        margin-bottom: 20px !important;
     }
     .classe7{
        height:cover;
    }
}
.classe5{
    background-color: rgb(238, 236, 236);
    height:cover;
    margin-top: 70px;
}
.titre4 {
text-align: center;
font-size: 50px;
color: rgb(255, 166, 0) ;
margin-top: 50px;
}
.classe6{
    
    margin-top: 30px;
}
.titre5{
    font-weight: bold;
    font-size: 20px;
    color: black;
}
.para{
    margin-top: 15px;
    color: rgb(70, 70, 70);
    text-align: left;
}
 .liste3 ul li { 
    margin-top: 20px;
    line-height: -30px;
    list-style: none;
    color: rgb(180, 180, 180);
} 
.image2{
    margin-top: 35px;
    padding: 5px;
    border-radius: 2px;
}
/* fin about */
/* debut service */

.para1{
    color : rgb(189, 185, 185); 
}
.titre6 {
    text-align: center;
    font-size: 50px;
    color: rgb(255, 166, 0) ;
    margin-top: 110px;
}
.titre7{
    font-weight: bold;
    font-size: 25px;
    color: black;
    margin-top: 60px;
}
.ser_credit{
    color: black; 
    font-weight: bold;
    margin-top: 30px;
    
}
.image3{
    height: 160px;
    width: 310px !important;
    margin-top: 30px;
}
.titre_mark{
    color: black; 
    font-weight: bold;
    margin-top: 60px;
    font-size: 25px;
}
 .ser_mak{  
    border: 5px solid rgb(219,216,216);
    margin-top: 10px;
    height: cover;
    margin-left: 0px;
  
}  

.image4{
    height: 70px;
    border: 2px solid rgb(219, 216, 216);
    margin-top: 10px;
}
.image5{
    height: 70px;
    border: 2px solid rgb(219, 216, 216);
    margin-top: 10px;
}
.image6{
    height: 70px;
    border: 2px solid rgb(219, 216, 216); 
    margin-top: 10px; 
}
.carte{
    color:rgb(255, 166, 0) ;
    margin-top: 10px;
    font-size:16px ;
}
 .texte{ 
     
    color : rgb(189, 185, 185); 
} 
.ser_debit{
    margin-top: 30px;
    color: black; 
    font-weight: bold;
}
.para2{
    color : rgb(189, 185, 185); 
    line-height: -4px;
    
}
.icone{
    padding: 20px;
    height: 70px;
    width: 70px;
    margin-top: 50px;
    
    color:white;
    border-radius: 50%;
    background: rgb(218, 218, 218);
    font-size: 30px !important;
    
}
 .para3{
    margin-top: 20px;
    color: black;
    font-weight: bold;
    font-size: 15px;
    
} 
.texte1{
    margin-top: 15px;
}
.liste4  li { 
    margin-top: 20px;
    margin-left: -40px;
    line-height: -30px;
    list-style: none;
    color: rgb(180, 180, 180);
} 
/* fin service */

/* debut blog */
.Blog{
    background-image: url("../images/b1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
    color: white;
    margin-top: -170px;
 }

 .Mon-Blog{
    font-size: 50px;
   margin-bottom: 50px;
   margin-top: 50px;

 }

 .masque{
   height: 170px;
   background-color: white;
 }

 .Blog-noir{
   color: white !important;
   font-weight: bolder;
 }

 .Blog-noir1{
   color: white !important;
   font-weight: bolder;
   font-size: 50px;
 }

 .Blog-texte1{
   line-height: 10px;
 }

 .Blog-texte2{
   color: rgb(180 180 180);
   font-size: 15px;
 }

/* fin blog */




/* debut news */
.NewsEvent {
    font-size: 50px;
   margin-bottom: 50px;
   margin-top: 50px;

 }

 .News-Bloc{
   border: 5px solid rgb(220 220 220) !important; 
   padding: 5px !important;
 }

 .News-Titre{
   font-weight: bolder;
   font-size: 20px;
   margin-bottom: 20px;
 }

 .News-texte{
   color: rgb(180 180 180);
   margin-bottom: 20px;
   font-size: 15px; 
 }

 .News-bout{
   border: 2px solid black;
   width: 100px;
 }

/* fin news */

/* debut newsletter */
.classe12{
    margin-bottom: 50px;
}
.classe13 h1{
    text-align: center;
    margin-top: 30px;
    font-size: 50px;
    font-weight: bold;
    color: rgb(255, 166, 0) ;
}
.subscribe{
    height: 200px;
    /* width: 100px; */
}

/* fin newsletter */

/* debut client */
.ClientsFeedback{
    background-image: url("../images/7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 30px;
    width: 99%;
    color: white;
 }

 .Client{
   font-size: 50px;
   margin-top: 50px;
 }

 .Client-texte{
    background-color: rgb(180 180 180);
    border: inherit;
    opacity: 0.2;
    height: 80px;
    border-radius: 0%;
    /*width: 210px;*/
 }

.Client-texte1{
    color: white;
    opacity: 0.7;
    position: relative;
    bottom: 80px;
    left: 5px;
    font-size: 11px;


  }

  .triangle {
    width: 0px;
    height: 0px;
    border: solid 10px;
    border-color: rgb(180 180 180) transparent transparent  transparent ;
    opacity: 0.2; 
   }

   .Orange{
     color: orange;
   }

   .media-list li{
    position: relative;
    bottom: 40px;
    margin-left: 15px;
   }

/* fin client */


/* debut contact */
.classe14{
    /*height: 600px;*/
}
.classe15 h1{
    text-align: center;
    margin-top: 70px;
    font-size: 50px;
    font-weight: bold;
    color: rgb(255, 166, 0) ;
}
.formulaire{
    /*height: 100%;*/
    margin-top: 40px;
    
}

.form1{
    margin-top: 40px;
}
.sub{
    width: 100px;
    border-radius: none;
}
.get{
    font-weight: bold;
}
.phone{
    color: rgb(189, 185, 185);
}
/* fin contact */
/* debut config general */
.panel{
    border: inherit;
    background-color: inherit;
    -webkit-box-shadow: inherit;
    margin: 0px;
    padding: 0px;
}

.panel-heading{
    color: orange;
    background-color: none;
}

.panel-body{
    border: inherit ;
    background-color: inherit;
    padding: 10px;
}


.list-group{
    border: none;
    background-color: inherit;
}

.list-group-item{
    border: none;
    background-color: inherit;
    padding-left: 0px;
    padding-right: 0px;
    padding-right: 5px;
    padding-top: 5px;
}

.thumbnail{
    padding: 0px !important;
    background-color: inherit;
    border: inherit;
}

.carousel-indicators li{
background-color: orange;
border: none;
}

/* fin config general */

/*Laptop*/
@media only screen and (min-width: 992px) {

    .triangle {
             position: absolute;
             bottom: 105px;
             left: 40px;
            }
  
            .Client-bloc{
              margin-top: 70px;
              margin-bottom: 70px;
              margin-left: 20px;
            }
  
            .Client-bloc0{
              margin-top: 70px;
              margin-bottom: 70px;
              margin-left: 200px;
            }
  
  
            .Effect{
             width: 1000px; 
             margin-left: 200px; 
             margin-right: 200px;
            }
  }
/*Tablette*/
@media only screen and (min-width: 769px) and (max-width: 991px) {
    /* debut blog */
   
       .Blog-espace{
               height: 145px;
               background-color: white;
           }
           .Blog-title{
               font-size: 50px;
               color: orange;
               margin: 70px 0;
           }
           .Blog-content-color{
               color: white;
           }
           .num1{
               margin-top: 0;
               margin-bottom: 30px;
               font-family: Arial;
           }
           .Blog-Decale{
               /*margin-left: 30px;*/
           }
           .Blog-Deca{
               /*margin-right: 30px;*/
           }
           .Blog-Descente{
               /*margin-top: 50px;*/
               margin-bottom: 30px;
               height: 180px;
           }
           .Blog{
            background-image: url("../images/b1.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            height: cover !important;
            color: white;
            margin-top: -100px;
         }
         .image3{
            height: 300px;
            width: 750px !important;
            margin-top: 30px;
        }
   /* fin blog */
   }
   
   
   /*Smartphone*/
   @media only screen and (max-width: 768px) {
   /* debut blog */
      .Blog-bloc{
                 position: relative;
                 right: 65px; 
               }
   
               .Blog-texte2{
                 font-size: 12px;
               }
               .classe7{
                   height: cover !important;
               }
               .Blog{
                background-image: url("../images/b1.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                height: cover !important;
                color: white;
                margin-top: -100px;
             }
             .image3{
                height: 220px;
                width: 410px !important;
                margin-top: 30px;
            }
   /* fin blog */
   }
   
     
/* footer */
.classe16{
    /*height: 350px;*/
    background:url(../images/7.jpg) ;
    background-size: 100%; 
    background-repeat:no-repeat ;
    margin-top: 40px;
}
.banque {
    /* margin-right: 50px; */
    text-align: center;
    margin-top: 40px;
}

.foot1{
    font-size: 30px;
    color: white;
    font-weight: bold;     
}
.foot2{
    font-size: 30px;
    font-weight: bold;
    color:rgb(255, 166, 0);
}   
.banque h4{
    color:white;
    margin-top: 40px;

}
.ligne{
    border-bottom: 1px solid white;
    padding-bottom: 20px;
    
}
.reseau span{
   color: white;
   margin-top: 70px;
  margin-left: 20px;
  height: 80px;
}
.reseau{
     text-align: center;
 
}
.para7{
    color: white; 
    text-align: center;
}